<!DOCTYPE html>
<html>
    <head>
        <title>TJCSS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/hover-min.css">
    </head>
    <body>
        {{> navbar}}
        <div class="dashboard-container">

            <div class="row no-gutters">
                <div class="col-11">
                    <h1 class="text-white mb-4">{{data.className}}</h1>
                </div>

                <div class="col-1">
                   <a href="/addlab"><button class="btn btn-outline-light h-75 ml-auto" id="add-btn"><img src="/media/plus.png" id="inline-add-icon">Add Lab</button></a>
                </div>
                
            </div>    
            <hr class="box-hr">

            {{#each data.labs}}

                <a href="/lab/{{this.id}}">
                <div class="row no-gutters lab-list-item ">

                        <div class="col-1 lab-status-{{this.status}} lab-row-height hvr-grow"></div>
                        <div class="col-5"><h1 class='lab-row-text lab-row-title'>Lab {{this.id}}</h1></div>
                        <div class="col-2 ml-auto text-center"><p class="lab-row-text lab-row-deadline">Deadline: {{this.deadline}}</p></div>
                        {{!-- <div class="col-2 ml-auto border-left text-center lab-row-right-div"><p class="lab-row-text lab-row-submissions">Submission {{this.submissions}} of {{this.submission_max}}</p></div>
                        <div class="col-1 ml-auto border-left text-center lab-row-right-div"><h4 class="lab-row-text lab-row-grade">{{this.grade}}</h4></div> --}}
                    
                </div></a>

            {{/each}}
                   

        </div>
            
        {{> scripts}}
    </body>
</html>